.clear {clear: both; } 
/* Css for index.php */

.register-now{ border-color:#fff!important; border-width: 2px; color: #fff; font-size: 20px;}
.register-now:hover ,.register-now:focus,.register-now .active{background: #1261A0!important; border-color:#fff;}

/* The hero image */
.hero-image {
  background-image:url("../../../assets/images/frontend/employer/11.jpg"); //11.jpg
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image2{background:#2978C7; display: none; }
.hero-text {
  font-family: 'Merriweather Sans', sans-serif; 
  line-height: 1.3;
  padding: 140px 30px 165px 100px!important;
}
.hero-text2 {
 font-family: 'Merriweather Sans', sans-serif; 
 line-height: 1.3;
 padding:150px 45px 50px;
}
.hero-text2 h3{font-size: 20px;}
.highlights-heading h1{  font-family: "Roboto", sans-serif; color:#043769; }
.highlights-heading p{ font-size: 20px; font-weight: 200;}
.scroller{margin: 0 -20px;}

/* Seperator */
 .seperator
{
    height: 3px;
    margin: 25px;
    background-image: radial-gradient(#CCC, #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
}
/* Services*/
.special-package .card{box-shadow:0 2px 25px -8px rgba(32,33,36,1.0);  border:1px solid;}
.my-card{   
    width: 60px;
    height: 60px;
    position:absolute!important;
    left:40%;
    top:-20px;
    border-radius:50%!important;
}
.my-card i{font-size: 25px;}
.text-head {padding-top: 30px;}

.premium .my-card{border-top:1px solid #179fc9;}
.hot .my-card{border-top:1px solid #fb3600;}
.recent .my-card{border-top:1px solid #218e10;}

.premium { background-image: linear-gradient(to bottom, #1b92c0, #189cc7, #17a6ce, #1ab0d4, #20bada);}
.hot {background-image: linear-gradient(to bottom, #ff0000, #fb3d00, #f65700, #f16b00, #ec7c03);}
.recent{background-image: linear-gradient(to bottom, #04850b, #289012, #3e9c18, #51a71f, #63b325);}

.premium i {color:#179fc9;}
.hot i{color:#fb3600;}
.recent i{color:#218e10;}

#employer .special-package .explore-btn a {
    border:1px solid #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 20px 8px 60px;
}

#employer .special-package .explore-btn a .icon-arrow {
    fill: #fff;
    height: 13px;
    top: 14px;
    width: 25px;
}
.faq-explore-btn a:focus, #premium .explore-btn a:focus{border:2px solid #606060; color:#606060;}
.special-package .explore-btn a .icon-arrow.before { left: 20px; }
.faq-explore-btn a:active, #premium .explore-btn a:active,#recent .explore-btn a:active,#hot .explore-btn a:active {
    border-color: #606060!important;
    color: #606060!important;
}

.faq-explore-btn a:active .icon-arrow,#premium .explore-btn a:active .icon-arrow,#recent .explore-btn a:active .icon-arrow,#hot .explore-btn a:active .icon-arrow {
    fill: #606060!important;
}
/*  For Service member profile background: #2879CA; */
.special-team ul li{list-style-type: none; color:#4A4A4A; line-height: 1.6;}
.special-team img{border-radius: 50%;}

.profile .card{ box-shadow: 0 2px 25px -8px rgba(32,33,36,1.0);  border-radius: 10px; background: #fff;}

.social-profile i{background: #4E71A8; padding: 12px 16px; color: #fff; font-size: 18px; border-radius: 50%; }
.social-profile i:hover{opacity: 0.7;}
.social-profile .fa-linkedin-in{background: #0077B5; padding: 13px 14px;}
.profile-info .fa-envelope,.profile-info .fa-mobile-alt{padding-right: 10px; font-size: 18px; color:#125E9C;}
.profile-info .fa-mobile-alt{font-size: 20px; margin-right: 5px;}
.email ,.phone{font-size: 17px;}
.name h4{color:#030303;}
.designation{font-size: 15px; font-weight: 500;}
.profile-pic img{border: 2px; height:140px; width:140px;}
.profile-details{padding-left: 0px;}
.social-profile li{display:inline-block; cursor: pointer;}
.chat { padding: 5px 7px; background: #125E9C; border-radius: 3px; }
.chat i{padding-left:7px;}

.chat:hover{text-decoration: none;}

/* Banking Patners */
.banking{margin:0 10px 0 -10px;}
 .banking ,.payment{border:2px solid #637381; border-radius: 10px;}
 #banking-patners h5 {background: white;  font-family: "Roboto", sans-serif;} 
 .banking h5{margin: -15px 225px 23px; color:#002d62;}
 .payment h5{ margin: -15px 95px 23px 50px; color:#002d62;}
 
 .starburst {
  font: 4em/1.4;
  font-family: 'Cambo', serif;
  background: #637381;  
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  color: #fff;
}

.starburst,
.starburst span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.starburst span {
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(45deg);
  font-size: 24px;
}

.starburst:before,
.starburst:after ,
.starburst span:before,
.starburst span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  transform: rotate(30deg);
}

.starburst:after {
  transform: rotate(-30deg);
}

.starburst span:after {
  transform: rotate(30deg);
}
.starburst span:before {
  transform: rotate(-30deg);
}

.example {
  position: absolute;
  top: 50%;  
  margin-top: -1.25em;
  margin-left: -1.25em;
}

#example-2 {
  transform: rotate(-45deg);
  margin-top: -20%;
  left: 3%;
}
.payment #example-2{ margin: -155px 0 0 318px;}

/* ///////////////////////Testimonial ///////////////////*/
.testimonial-section {
    background:#606060;
    margin-top: 40px;
}
.testimonial h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  margin: 30px 0 40px;
}
.testimonial h3::after {
  content: "";
  width: 130px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #f36004;
  left: 15px;
  right: 0;
  bottom: -10px;
}
.testimonial i{opacity: 0.7; font-size: 18px; color:#fb8601;} 
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 45px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
  font-size: 15px;
  color: #111;
}
.carousel .overview{
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #fb8601;
  font-size: 15px;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 48px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .star-rating i {
  font-size: 16px;
  color: #f6f800;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li{
  width: 15px!important;
  height: 15px!important;
  margin: 1px 7px!important;
  border-radius: 50%!important;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  border: 1px solid #637381;
}
.carousel-indicators li.active{
  border: 5px double #f36004;
  width: 17px!important;
  height: 17px!important;
}

.bs-example{  margin: 20px; }
.accordion .fa{  margin-right: 0.5rem; }

.panel-heading {
  padding: 0;
  border:0;
}
.panel-title{margin-bottom: 0;}
.panel-title>a, .panel-title>a:active{
  display:block;
  padding:12px 15px;
  color:#555;
  font-size:15px;
  text-transform:uppercase;
  letter-spacing: 0px;
  word-spacing:1px;
  text-decoration:none;
}
.panel-heading a:hover{text-decoration: none;}
.panel-heading  a:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f078";
  float: right;
  transition: all 0.5s;
  font-weight:bold;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 
.panel-body {padding: 10px 20px 15px; text-align: justify; font-size: 15px; color:#495057; border-top: 1px solid #ced4da;}
.panel:hover{box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); border-bottom:1px solid transparent;}
.panel{border:1px solid #ced4da; margin-bottom: 10px;}
/*GrayScale*/
.column#grayscale img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.column#grayscale:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
 /* css For Explore Button */
.explore-btn a {
  border: 2px solid #606060;
  color: #3F3F3F;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: auto;
  padding:9px 20px 9px 55px;
  position: relative;
  text-decoration: none;
}

.explore-btn a .label,
.explore-btn a .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}

.explore-btn a .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.explore-btn a .icon-arrow {
  fill:#606060;
  height: 11px;
  top: 16px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 30px;
}

.explore-btn a .icon-arrow.before {
  color:#fff;
  left: 20px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.explore-btn a .icon-arrow.after {
  color:#fff;
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.explore-btn a:hover .label {
  transform: translateX(-52px);
}

.explore-btn a:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.explore-btn a:hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.explore-btn a:active {
  border-color: #fff;
  color: #fff;
}

.explore-btn a:active .icon-arrow {
  fill: #fff;
}

/* Download Our app */
#download-app-section{background:#2B7DCF;  font-family: "Roboto", sans-serif;}
.download-app-text h1{padding-top: 70px;}
.download-app-text  p{font-size: 20px;}
.download-app-img img{height: 520px;}
/* For Responsive*/

/*premium*/
ul{list-style-type: none;}
.h3-heading,.h2-haeding {  font-family: "Roboto", sans-serif; color:#2B2C33;}
#posting-navbar{
box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
padding:15px 10px 8px;
border-bottom:1px solid #fff;
background:#1A93C1;
font-family: "Roboto", sans-serif;
position: fixed;
width: 100%;
display: block;
transition: top 0.3s;
z-index:999;
}

.go-back{
  border:2px solid; border: 2px solid;
  padding: 2px 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.go-back:hover{text-decoration: none; border-radius: 0px;}


#hot #posting-navbar {background:#FA4600;}
#recent #posting-navbar {background:#2A9112;}

#why-premium ul li ,#why-hot ul li,#why-recent ul li  {line-height: 1.6; font-size: 17px;}
#why-premium ,#premium #download-app-section{background-image:linear-gradient(to bottom, #1b92c0, #189cc7, #17a6ce, #1ab0d4, #20bada);}
#why-hot ,#hot #download-app-section{background-image:linear-gradient(to bottom, #ff0000, #fb3d00, #f65700, #f16b00, #ec7c03);}
#why-recent,#recent #download-app-section{background-image: linear-gradient(to bottom, #04850b, #289012, #3e9c18, #51a71f, #63b325);}
.why-premium-text h3 ,.why-hot-text h3 ,.why-recent-text h3{ font-family: "Roboto", sans-serif;}
.why-premium-text ul li i ,.why-hot-text ul li i,.why-recent-text ul li i{margin-right: 5px; font-size: 15px;}
.why-premium-img ,.why-hot-img,.why-recent-img{float: right; height:300px;}

#steps .one span{color:#637381; border:2px solid #637381; border-radius: 50%; padding: 5px 15px; font-size: 25px; font-weight: 700;}
.box-part{background:#FFF; border-radius:0; border:1px solid #ccc; padding:14px 10px 0; height:134px; box-shadow:0 1px 20px -7px rgb(97, 106, 138);
}
.box-part h5{color:#189bc6;}
#hot .box-part h5{color:#fa4200;}
#recent .box-part h5 {color:#3b9a17;}
.box-part p{font-size: 14px;}

#steps .step-one:hover{color:red; border:2px solid red; }
#steps .step-two:hover{color: yellow; border:2px solid yellow; }
#steps .step-three:hover{color:green; border:2px solid green; }
#steps .step-four:hover{color:blue; border:2px solid blue;}

#steps h5{    font-family: "Roboto", sans-serif;}


/* Pricing Details  Premium Job*/
.table-head{color:#189bc6; font-size: 18px; font-weight: 600;}
td{color:#637381;}
#premium .table thead th { border-bottom: 1px solid #189bc6;}
.table-bordered{box-shadow:0 2px 25px -8px rgb(97, 106, 138);}
.light-bg{background:#f1f1f1;}

/* Pricing Details Hot Jobs */
.table-head-hot{color:#fa4200;}
#hot .table thead th { border-bottom: 1px solid #fa4200;}

/* Pricing Details Recent Jobs */
.table-head-recent{color:#3b9a17;}
#recent .table thead th { border-bottom: 1px solid #3b9a17;}





/* For Responsive*/

@media (min-width: 1200px) and (max-width: 1279px) {
  .col-md-7 {    max-width: 67.333333%;}
  #example-2{margin-top:20%;}
  .payment #example-2 {margin: -166px 0 0 7px;}
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .banking h5 {margin: -15px 76px 20px 170px; margin-left: 110px; } 
}
@media (min-width: 1024px) and (max-width: 1279px) {
  #banking-patners h5{  font-size: 23px;}
  .banking h5 {margin: -20px 145px 23px; padding: 0; } 
  .payment h5 {margin: -18px 17px 0px 75px; } 
  #example-2{margin-top: -30%;    left: 10%;}
  .payment #example-2 {margin: -197px 0 0 -27px; } 
  .banking{margin-left:-10px;}
  .hero-image{ height: 35%;}
  .hero-text {padding: 82px 0px 76px 29px; } 
  .download-app-text h1 {padding-top: 20px;}
}
  @media (min-width: 980px) and (max-width: 1023px) {
  .special-package .card-footer a {font-size: 15px; }
 }

@media (max-width: 1024px){
  .navbar-right{width: 22%;}
  .download-app-img img { height: 355px; }
  .download-app-text h1 {padding-top: 40px;  font-size: 28px;} 
  .box-part { height: 170px; }
  .hero-image{display: none;}
  .hero-image2{display: block;}
  .hero-text2 { padding: 90px 45px 90px; }
  .profile-details{padding-left: 20px; }
}
@media (max-width: 979px) { 
  .special-package .card-footer h5{font-size: 15px;}
  #banking-patners h5{font-size: 20px;}
  .banking h5 {margin: -20px 82px 19px 123px; }
  .payment h5 {margin: -16px 9px -1px 50px; }
  #example-2{margin-top: -50%;}
  .payment #example-2 {margin: -232px 0 0 -44px; }
}

@media (max-width: 800px){
  .hero-text {padding: 80px 0px 60px 29px; } 
  .hero-text h3{ font-size: 20px;}
  .highlights-heading h1 {font-weight: 500; font-size: 35px;} 
  #example-2 {margin-top: -48%; } 
  .carousel .testimonial { height: 135px; }
  .carousel { padding: 0 50px;}
  #why-premium ul li ,#why-hot ul li,#why-recent ul li  {font-size: 14px;}
}

@media (max-width: 768px){
.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%!important;
}
.hero-image{display: none;}
.hero-text2 { padding: 55px 45px 50px;}
.download-app-img img { height: 320px; }
.download-app-text h1 { padding-top: 10px;}
.profile .card-body{padding-left: 0!important;}
.profile-info .fa-envelope, .profile-info .fa-mobile-alt { font-size: 15px; padding-right: 5px;}
.email, .phone {  font-size: 14px; }
.profile-image{ padding-left: 25px;}
.profile-pic{ padding-left: 25px;}
.profile-pic img{height:100px; width:100px;}
.profile-details h4{font-size: 20px;}

.hero-image2{display: block;}
.designation { font-size: 10px; }
.special-package .explore-btn a { font-size: 14px; padding: 9px 23px 9px 61px; }
.special-package .explore-btn a .icon-arrow.before {  left: 10px; margin-right: 0px; }
.text-head h4{ font-size: 17px;}
#example-2 { left: 8%;}

}
@media (max-width: 767px) {
	.logo img{height: 75px; }
  .hero-text2 {padding: 35px 45px 50px;}
  .h3-text,.h3-bg-text {font-size: 27px;}
  .register-now{font-size: 15px!important; padding: 6px 8px;}
  .special-package .card-footer a{ font-size:18px;}
  .scroller {margin:0;}
  .highlights-heading p { font-size: 20px;}
 
  .npay {border-top: 0px solid #002d62;}
  .banking{margin: 0;}
  .banking h5 {margin: -15px 25px 20px 170px; margin-left: 110px; } 
  .payment h5 {margin: -22px 72px 10px 80px; } 
  #example-2 {margin-top: -42%; left: 10%;}
  #premium .payment #example-2, #recent .payment #example-2, #hot .payment #example-2{margin-top: -22%; left: 16%; }
  .starburst,.starburst span {font-size: 25px;}
  .testimonial h5 { margin:30px 0; font-weight: 400;}
  .testimonial-section {margin-top:15px;}
  .carousel { padding: 0 50px;}
  .carousel .testimonial { font-size: 14px;}
  .panel-title>a, .panel-title>a:active {padding: 12px 8px;}
  .panel-title a,.panel-title a:focus{font-size: 11px;}
  .panel-body{font-size: 12px; padding: 10px 8px 15px;}
  .designation {  font-size: 14px; }
/*other services*/
  .scroller {margin:0;}

  .why-premium-image img ,.why-hot-image img,.why-recent-image img{height:320px;}
  .h3-heading ,.why-premium-text h3,.why-hot-text h3,.why-recent-text h3{font-size: 20px;}
  .h3-heading {font-weight: 600;}
  .box-part { height: 120px; }
  .box-img1{height: 170px;}
  .box-img2{height: 160px;}
  .box-img3{height:215px;}
  .download-app-text{text-align: center;}
  .download-app-text h1 {  padding-top: 20px; text-align: center; font-size: 25px; }
  .download-app-img{text-align: center;}
  .download-app-img img { height: 245px; }

  .why-premium-text, .why-recent-text, .why-hot-text{ margin-top: 70px;}
  .why-premium-text h3,.why-recent-text h3,.why-hot-text h3{text-align: center;}
}

@media (max-width: 414px) {
  .highlights-heading p { font-size: 16px;}
  .h3-text,.h3-bg-text {font-size: 20px;} 
  b{   font-weight: 500;}
  .carousel .testimonial {font-size: 12px; height: 165px;} 
  .carousel-control i {font-size: 35px; }
  .h3-heading, .why-premium-text h3, .why-hot-text h3, .why-recent-text h3 { font-size: 18px; } 
  .download-app-img img { height: 375px; }
  #example-2 { margin-top: -81%; left: 12%; }
  .payment #example-2 { left: 17%;  top: 120%;}
  #premium .payment #example-2, #recent .payment #example-2, #hot .payment #example-2 {
    margin-top: -57%;
    left: 16%;}
  #premium #example-2, #recent #example-2, #hot #example-2{ margin-top: -64%; left: 12%;}
}
 
 @media (max-width: 375px) {
  .carousel .testimonial {height: 190px; }
  .carousel { padding: 0 49px; } 
  .carousel .testimonial {     text-align: justify;}
  .h3-heading, .why-premium-text h3, .why-hot-text h3, .why-recent-text h3 { font-size: 17px; text-align: center;} 
  .download-app-img img { height: 240px; }
  .download-app-text p { font-size: 17px;}
  #example-2 { margin-top: -90%; }
  .payment #example-2 {left: 13%; top: 76%;}

  #premium #example-2, #recent #example-2, #hot #example-2 {
    margin-top: -80%;
    left: 15%;
  }
  #premium .payment #example-2, #recent .payment #example-2, #hot .payment #example-2 {
    margin-top: -63%;
    left: 16%;
  }
}

 @media (max-width: 360px) {
  .payment #example-2 {margin: -127px 0 0 215px; }
  #example-2 {margin-top: -94%; left: 14%; position: absolute; }
  .payment #example-2{margin:0; float: left; left:0%; top:-13%;}
  .payment h3{margin: -10px 54px 0px 79px;}
  .payment h5{margin: -10px 54px 0px 79px;}
  .hero-text2{padding: 30px 10px 45px!important;}

  #premium #example-2, #recent #example-2, #hot #example-2 { margin-top: -86%;}
  #premium .payment #example-2, #recent .payment #example-2, #hot .payment #example-2 {
    margin-top: 3%;
    left: 4%;
}
}
@media (max-width: 320px) {
  .hero-text2 {padding: 5px 20px 50px; } 
  .highlights-heading p {font-size: 14px; } 
  #why-premium ul,#why-hot ul,#why-recent ul {padding-left: 0;}
  #why-premium ul li ,#why-hot ul li,#why-recent ul li  {font-size: 12px;}
  .kumari-bank{height: 50px;}
  .highlights-heading h1 { font-size: 23px; }
  #example-2 { margin-top: -106%; left: 14%;}
.payment #example-2 { left: 4%; top: -17%;}
}
