.site-footer
{
  font-family: 'Muli',sans-serif;
  background: rgb(28, 39, 51);
  font-size:13px;
  line-height:21px;
  color:#fff;
}
.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#fff;
  font-size:18px;
  font-family: 'Poppins',sans-serif;
  text-transform:capitalize;
  margin-top:5px;
  margin-bottom: 10px;
  letter-spacing:1px
}
.site-footer a {
  color:#fff;
  opacity:0.8;
}
.site-footer a:hover {
  color:#fff;
  opacity:1;
  text-decoration:none;
}
.footer-links {
  padding-left:0;
  list-style:none
}
.footer-links li {
  display:block
}
.footer-links a {
  color:#666;
}
.footer-middle a {
  color: rgb(150, 164, 179);
  font-weight: 100;
}
.footer-middle a:hover {
  color: #fff!important;
  font-weight: 100;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#000;
  text-decoration:none;
}
.footer-links.inline li {
  display:inline-block
}
.about-details{
  line-height: 20px;
  color:#fff;
  opacity:0.8;
}
.site-footer .social-icons i{color:#fff;}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.site-footer .appstore{ list-style-type: none;}
.site-footer .appstore li{opacity:0.8;}
.site-footer .appstore a{color:#fff; opacity:1;}
.copyright-text{ margin:0; font-size: 13px;  font-family: 'Open Sans', sans-serif; opacity: 0.8;}
.contact-us li{ padding-bottom:10px; }
.footer-links li a i ,.footer-top-list .footer-links li a i{margin-right: 4px;}
.appstore li img { height :26px; margin:3px 0;}
.footer-top-list .footer-links li{display:inline-block;}

.footer-top-list {padding:8px 30px;}
.footer-top-list .footer-links li {padding-right:20px;}

/*footer type writer*/
.typewriter p {
  font-size: 15px;
  color: #fff;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: 
  typing 4.5s steps(30, end),
  blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


/* Responsive */
@media (min-width: 1024px) and (max-width: 1279px) {
}
@media (max-width:1200px){
}
@media (min-width: 980px) and (max-width: 1023px) {
  }
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
.footer-top-list .footer-links{margin-right: 100px;}
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li
{
  display:inline-block;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.blog:hover
{
  background-color:#F29233;
}
.social-icons a.pinterest:hover
{
  background-color:#CB2027;
}
.social-icons a.facebook:hover
{
  background-color:#3C589E;
}
.social-icons a.linkedin:hover
{
  background-color:#007AB9;
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
}
.social-icons a.instagram:hover
{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.social-icons a.youtube:hover
{
  background-color:#FF0000;
}
.footer-top-list .footer-links {
    margin-right: 0px;
}
}
@media (max-width:767px)
{
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600;
  }
  .footer-links{margin-right: 188px; }

}
@media (max-width:414px)
{ 
  .footer-top-list { padding: 8px 20px;}

}
@media (max-width:375px)
{ 
.footer-top-list { padding: 8px 7px;}
}
@media (max-width:360px)
{ 
  .footer-top-list .footer-links {margin-right: 50px; margin-bottom:10px;}
}
@media (max-width:320px)
{ 
.footer-top-list .footer-links {margin-right: 20px;}
.footer-top-list { padding: 8px 5px; }
}