/*search box css start here*/
#homepage{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px!important;
}
.first-sec{
    background: #333;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(47px + 2px) !important;
    border-radius:0!important;
    background-clip: unset!important;
    padding: 7px 10px 7px 35px!important;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    height: calc(47px + 2px) !important;
    border-radius:0;
    background:#EC7C03;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.fw-500{font-weight: 500;}
/* search icon */
::placeholder {
    font-size: 14px;
}
.search-bar .form-control{ border:0!important; }
.search-bar .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 -0.8rem rgba(0,123,255,.25);
}
.search-bar .btn:focus {
    box-shadow: 0 0 0 -0.8rem rgba(0,123,255,.25);
}
.search-bar i{
    position: absolute;
    color: #ADB5BD;
    top: 36%;
    left: 3%;
    font-size: 15px;
}
.for-bg {
    font-size: 14px; 
    background: rgba(219,219,219,.7);  
    padding: 15px 32px;
}
.rgr-btn{
    background: #EC7C03;
    color: white;
    padding: 8px 18px;
    font-size: 15px;
    box-shadow: 0px 2px 5px 0px #666;
    transition: 0.2;
}
.rgr-btn:hover, .rgr-btn:focus, .rgr-btn:active, .wrn-btn:hover, .wrn-btn:focus  {color:#fff; background: #FFA900; text-decoration: none;}
.eg{ font-size: 13px;}
.search-btn{display: inline-block;}
.input-search {display: inline-block;}
.email-alert{ border-right:1px solid #ADB5BD;}

/* category div*/
.cat-div {border:1px solid #555555;}
.cat-div ul{list-style-type: none;}
.cat-div ul li{
    display: inline-block; 
    text-align: center; 
    color:#fff; 
    font-size: 14px; 
    height: 85px;
    width: 133px;
}
.cat-div ul li i{color:#EC7C03; font-size: 25px;}
.cat-div ul li i:hover {color: #FFA900;}
.cat-div ul li a{color:#fff;}

.icon-wrp{ padding: 10px;}
/* main content */
.seperator {
    height: 3px;
    margin: 10px 0 15px;
    background-image: radial-gradient(#CCC, #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
}
.detail-wrp {   
    box-shadow: 0 4px 7px rgba(0,0,0,0.3);
    transition: top .2s ease-in-out,box-shadow .2s ease-in-out;
    -webkit-transition: top .2s ease-in-out,box-shadow .2s ease-in-out; 
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 2px 7px 1px #ccc;
}
.detail-wrp:hover{box-shadow: 5px 6px 9px 2px #ccc;  border-bottom: 2px solid orange;}
.detail-wrp h6 {font-size:14px; }
.detail-wrp h6 a:hover{color:#000;} 
.job-header-title {font-weight: 700; font-size: 20px; /*text-shadow: 0 3px 7px rgba(0,0,0,0.25);*/}
.job-header-title span,.job-header-title i{color:#FBBC05;}

.com-logo { padding: 15px 0 10px 10px;}
.d-text { color: #283e4a; font-size: 14px;}
.d-text a{color:#111;}

.d-text .d-job{color: #333;}
.d-text .time-left { font-size: 11px; color: #FF5A00;}
.d-text .time-left:hover{text-decoration: none;}
/* hot job */
.hot-div .job-header-title span,.hot-div .job-header-title i{ color:  #FF5A00;}
.immediate-div .job-header-title span,.immediate-div .job-header-title i{ color: #248605;}
.recent-div .job-header-title span,.recent-div .job-header-title i{ color: #0048AA;}

.border-right{border-right: 1px solid black;}
.recent-div .d-text { font-size: 13px; }
.recent-div .d-text h6{font-size: 13px;}
.recent-div .recent-border{border: 1px solid #0048AA;}
.recent-border h6{color:#0048AA;}
.more-btn{
    font-size: 13px;
    background: #0048AA;
    color: #fff;
    padding: 6px 15px;
}
.more-btn:hover{color:#fff; opacity:0.8; text-decoration: none;}
.premium-div .more-btn{ background:#FBBC05; }
.hot-div .more-btn {background:#FF5A00;}
.immediate-div .more-btn {background: #248605;}
.scroll{height: 50px; padding:0 7px;}

.career-link a,.career-more a{font-size: 13px; color:#333; font-weight: 500;}
.career-link a:hover, .career-more a:hover {color:#000;}
.career-link a:focus, .career-more a:focus {color:#EC7C03;}
.career-more a{color:#555;}
.right-part h6>a{color:#212529;}

/*premium ribbon*/
.marker-icon i{
    position: relative;
    float: right;
    margin-top: -9px;
    background: #FBBC05;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    font-size: 8px;
}
.hot-div .marker-icon i {
    background: #FF5A00;
    padding: 3px 4px;
    font-size: 8px;
}
.immediate-div .marker-icon i{
    background: #248605;
}
.top-hiring .marker-icon i{
    background: #666;
}
/*top-companies*/
.top-comp{
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
/* top-hirings */
.top-hiring { background: #DADADA;; }
.top-hiring  .detail-wrp{ border: 1px solid #999; }
.top-hiring .detail-wrp { box-shadow: 0px 0px 0px 0px #ccc; background: #fff ;}

.hiring-text h6 a:hover{text-decoration: none;}
.top-hiring .h-loc {color:#000!important;}
.top-hiring .time-left{color: #EC7C03!important;}
.top-hiring .d-text{ line-height: 23px; }
.top-hiring .v-details {font-weight: 500; transition: 0.4s;}
.top-hiring .v-details:hover,.top-hiring .v-details:focus {color:#000; font-weight: 600;}

/* training slider div*/
.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 13px!important;
    top: 16px;
    height: 13px!important;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
}
.carousel-indicators .active {
    border:3px solid #EC7C03!important;
 }
 /*jobs by location*/
.main-title{
    background: #FFA900;
    font-size: 13px;
    padding: 4px 8px;
    color: #fff;
    display: inline-block;
}
.jobby-div a:hover {text-decoration: none;}
.jobby-text{ border-bottom: 1px solid #FFA900; }
.jobby-div .d-text a{font-weight: 400; font-family: 'Roboto', sans-serif;}
 
/**/
.jobby-text .jobs-more{ color: #FFA900; font-weight: 600; font-size: 13px; margin-top: -2px;}
.jobby-text .jobs-more:hover {color: #000;}

/*resume skills*/
.resume-skills,.for-employer {background: #2D2B2B; color:#fff;}
.resume-skills .more-btn {
    padding: 12px 32px;
    border-radius: 4px;
    background: #EC7C03;
    font-weight: 500;
    font-size: 14px;
}
.resume-skills .more-btn:hover{background: #FFA900; opacity: 1;}
/*freshers*/
.freshers-div {background: #0048AA}
.fresher-text h6{font-weight: 600; font-family: 'Roboto', sans-serif; display: inline-block; letter-spacing: 1px;}
.brand-new{font-size:11px; background:#EC7C03; padding: 0px 4px; float: right;}
.freshers-div i { font-size: 45px; color:#fff;}

/*for employers*/
.step-text {font-weight: 500; text-transform: uppercase;}
.emp-btn {background:#EC7C03; color:#fff; border-radius: 3px!important; padding: 8px 10px; font-size: 13px;}

/*download-app*/
.bg-dwn{background:#C9DDD9;}
.dwn-wrp a img{height: 34px;}
.dwn-wrp p {opacity: 0.8;}
.total-dwn{ background:#4B5379; font-size: 12px; padding:2px 8px 4px;}

.dwn-btns a:hover{cursor:pointer;}
.bg-overlay { background: linear-gradient(to right,rgb(0, 0, 0),rgba(0, 0, 242, 0.3)); }
.app-btn a{
    border:2px solid; 
    opacity: 0.7;
    padding: 7px 43px; 
    border-radius: 3px; 
    color:#fff; 
    font-size: 13px; 
    letter-spacing: 1px;
}
.app-btn a:hover{opacity: 1; color:#fff; border: 2px solid;}
/* google map */
.map-responsive{
    overflow:hidden;
    padding-bottom:35%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.google-map {border-top:3px solid #EC7C03;}
.g-index {z-index: 999; position: absolute!important;}
.google-content{ z-index:0; font-size: 13px; color:#fff; line-height: 23px;}
.google-content a{color:#fff;}
.google-content a:hover{color:#fff;}
.google-map .bg-overlay {
    background: linear-gradient(to right,rgb(18, 18, 29),rgba(0, 0, 0, 0.6));
}
.gwrp-icon {
    position: absolute;
    height: 55px;
    width: 55px;
    left: 43%;
    padding: 5px;
    top: -20px;  
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.gwrp-icon i{
    text-align: center;
    color:#EC7C03;
    margin-top:25%;
}


/* responsive */
@media (min-width: 1024px) and (max-width: 1279px) {
    .cat-div ul li { width: 112px; }
    .d-icon i{display: none!important;} 
    
}
@media (max-width: 1024px) { 
    .jobby-div .d-text a { font-size: 12px; }
}
@media (max-width: 991px) {
    .email-alert{border-bottom:0; border-right:0;}
    .rgr-btn { font-size: 11px; }
    .search-bar .for-bg { padding: 15px 0px; }
    .eg{ padding-left: 19px;}
    .wrn-btn{ font-size: 13px;}
    .google-content{display: none;}
    .dwn-wrp{text-align: center;}
    .dwn-wrp h3{font-size: 25px;}
    .recent-div .d-text { font-size: 11px; }
    .recent-div .d-text h6{ font-size: 12px; }
    .map-responsive{ padding-bottom: 80%; }

    .search-slt{ height: calc(40px + 2px) !important; }
    .wrn-btn{ height: calc(40px + 2px) !important; }
    .google-img {display: none;}
    .map-responsive{ padding-bottom: 90%; }

    .for-bg{font-size: 13px;}
    .for-bg h5{font-size: 18px;}
}
@media (max-width: 767px) {
    .email-alert{border-bottom: 1px solid #ADB5BD;  border-right:0;}
    .rgr-btn { font-size: 15px; }
    .eg{ padding-left: 0px;}
    .search-bar .for-bg { padding: 15px 32px; }
    .cat-div ul li { width: 115px; }
    .resume-skills h5{ font-size: 17px;}
    .resume-skills span { font-size: 11px;}
}
@media (max-width: 360px) {
   .jobby-div .d-text,.recent-div { font-size: 11px; }  
}